body{
    /* background-color: teal; */
    background-image: url(library1.jpg);
}
span{
    color: red;
}
button:hover{
    opacity: 0.8;
}
button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
.card-image img{
    width: 250px !important;
    height: 250px !important; 
}